.footer {
  background-color: #ffffff;
  color: #161616;
  text-align: center;
  padding: 20px;
  position: relative;
  
}




.footer-image img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.scroll-to-top {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #3ca89a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scroll-to-top svg {
  fill: #fff;
}


