/* LOGIN */
.background {
  background-image: url("../assets//login//img-copertina.png");

  background-size: cover;
  background-position: center;
}

/* bottone accedi */
.custom-button {
  border-radius: 11px;
  background-color: #5cd2b8;
  color: white;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  margin-right: 1%;
}

.custom-button:hover {
  background-color: #2f2f2f;
}

.form-container {
  position: relative;
  margin-top: 114px;
  background-color: rgba(328, 341, 307, 0.4);
  padding: 31px;
  border-radius: 10px;
  width: 300px;
  height: 392px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.form-container:hover {
  background-color: #aeaeae;
}

/* Stile per il modale */
.modal {
  /* Posiziona il modale al centro dello schermo */
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.custom-welcome-text {
  color: #314b37;
  text-decoration: none;
}
