.custom-alert {
  position: fixed;
  top: 20px;
  width: 80%;
  max-width: 600px;
  z-index: 1050;
  background-color: #cae0df;
  color: #000;
}

.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}
